@font-face{
    src: url(/font/rawline-cufonfonts/rawline-800.ttf);
    font-family: ft1;
}

@font-face{
    src: url(/font/Inter/static/Inter-Black.ttf);
    font-family: ft2;
}


.btns:hover .btn-u, .btns:hover .btn-u-2{
    transition: 2s;
    letter-spacing: 2px;
}


body{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dark{
    background-color: #1e2029;
}

.box{
    margin-top: 10vh;
    padding: 0;
    width: 340px;
    height: 500px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.453) 0px 0px 8px;
    background-color: rgba(255, 255, 255, 0.091);
    backdrop-filter: blur(2px);
    border-radius: 7px;
    position: relative;
}

.title{
    position: relative;
    background-color: rgb(64, 100, 109);
    width: 150px;
    height: 150px;
    border-radius: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 25%;

    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.title .head{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 100%;
}

.title .body{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 70%;
}

.btn-u{
    position: relative;
    width: 69px;
    height: 20px;
    text-align: center;
    margin: 10px;
    border: 1px solid #373737;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    color: #373737;
    font-family: ft2;
    font-size: 12px;
    outline: none;
    top: 40%;
    cursor: pointer;
}


.ball{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #373737;
    border-radius: 50%;
    left: 5%;
    top: 20%;
}

.btns{
    bottom: 38.3%;
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.btn-u-2{
    position: relative;
    width: 69px;
    height: 20px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    background-color: #373737;
    color: rgb(255, 255, 255);
    font-family: ft2;
    font-size: 12px;
    outline: none;
    top: 40%;
    cursor: pointer;
}


.ball-2{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left: 5%;
    top: 20%;
}

.header{
    background-color: rgba(255, 255, 255, 0.057);
    width: 100%;
    padding: 0;
    margin: 0;
    height: 60px;
    position: relative;
    box-shadow: 0px 1px 3px rgba(1, 1, 1, 0.078);
    transition: 2s;
}


.header ul li a{
    text-decoration: none;
    color: #373737;
    font-weight: 800;
    font-family: ft2;
    left: 0;
    top: 15px;
    position: relative;
    margin: 0;
    float: left;
    width: fit-content;
    background-color: rgb(6, 255, 44);
    padding: 5px 20px;
    border-radius: 2px;
}

.header ul{
    margin: 0;
    list-style-type: none;
}


.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 20px 0 0 0;
    overflow: hidden;
    background-color: #000;
}

.obj{
    background-color: aqua;

    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;

    animation: 5s qua ease infinite;

    border: aqua 3px solid;
    border-radius: 20px;
    box-shadow: 0 -4px 63px rgba(0, 255, 255, 0.359);
    user-select: none;

    

}

@keyframes qua{
    0%,100%{
        transform: perspective(1em) rotateY(0.5deg); 
    }

    25%{
    transform: perspective(1em) rotateY(-0.5deg); 
    }
}

.obj p{
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 30%;
    font-family: Arial;
    font-weight: 700;
    color: rgb(45, 45, 45);
    user-select: none;
}


.obj::before{
    content: "";

    width: 100%;
    height: 100%;
    
    position: absolute;
    background-color: aqua;

    opacity: 30%;
    
    left: 0;
    top: 50%;
    
    transform: perspective(1em) rotateX(40deg) scale(1, 0.12);

    filter: blur(90px);

    z-index: 0;
}






::-webkit-scrollbar{
    width: 2px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    background-color: aqua;
}